<script>
	setTimeout(function(){
	   window.location.reload(1);
	}, 3000);
</script>

<div>
    <form>
        <h3>Area:</h3>
        <input type='text' name='area'>
        <p>Is there an exposure for this area?</p>
        <label>Yes</label>
        <input type='checkbox' name='exposure' value='yes'>
        <label>No</label>
        <input id='exposure' type='checkbox' name='exposure' value='no'>
        <h3>Exposure:</h3>
        <input type='text' name='exposure'>
        <h3>Hazard:</h3>
        <input type='text' name='hazard'>
    </form>
</div>
