<!DOCTYPE html>
<head>
    <title>
        Not Jeremy
    </title>
</head>
<body>
    <header>
        <ul>
            <li>Home</li>
            <li>Contact</li>
            <li>About</li>
            <li>Charleston</li>
        </ul>
    </header>
    <%=yield%>
</body>