<!DOCTYPE html>
<head>
    <title>
        Personal Data/Changer
    </title>
    <link rel="stylesheet" href = "css/style.css">
</head>
<body>
    <header>
        <ul>
            <li>Home</li>
            <li>Contact</li>
            <li>About</li>
            <li>Charleston</li>
        </ul>
    </header>
    <%=yield%>
</body>