<!DOCTYPE html>
<head>
    <title>
        Personal Data/Changer
    </title>
    <link rel="stylesheet" href = "css/style.css">
</head>
<body>
    <header>
        <ul>
            <li><a href = "/">Home</a></li>
            <li><a href = "/contact">Contact</a></li>
            <li><a href = "/about">About</a></li>
            <li><a hreff = "/charleston">Charleston</a></li>
        </ul>
    </header>
    <%=yield%>
</body>