body {
    background-color:tan;
}
.textcolor {
    color:olivedrab;
}
.img1 {
    display: block;
    margin: auto;
    width: 50%;
}
.img2 {
    display: block;
    margin: auto;
    width: 30%;
}
li {
    display: inline;
    font-size: 2rem;
    padding-right: 10rem;
}
ul {
    text-align: center;
}
.textcenter1 {
    text-align: center;
}
.textsize {
    font-size: 2.5rem;
}
.paddimg {
    padding-bottom: 3rem;
}