body {
    background-color:tan;
}
.textcolor {
    color:olivedrab;
}
.center {
    display: block;
    margin: auto;
    width: 50%;
}
li {
    display: inline;
    font-size: 2rem;
    padding-right: 10rem;
}
ul {
    text-align: center;
}